/* FONT */

@font-face {
    font-family: 'HankenGrotesk';
    src: url(assets/fonts/HankenGrotesk-VariableFont.ttf);
}

* {
    box-sizing: border-box;
    font-family: 'HankenGrotesk', sans-serif;
  }

body {
    background-color: #fff;
    min-width: 365px;
    width: 100%;
    height: 100vh;
    margin: 0;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }

[class*="col-"] {
    float: left;
    padding: 15px;
  }

#left {
    display: block;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: -24px;
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    height: auto;
    z-index: 1;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

#right {
    display: block;
    justify-content: center;
    background-color: white;
    height: auto;
    box-shadow: 0px 0.5px 15px rgb(203, 206, 208);
    z-index: 0;
}

/* TEXT STYLES LEFT*/

#score {
    font-weight: 700;
    font-size: 3.5rem;
    color: #fff;
    padding-top: 1.75rem;
    margin-bottom: 0;
    padding-bottom: 0;
}

.circle {
    margin: 24px auto;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}

#results {
    font-weight: 500;
    font-size: 1.25rem;
    margin: 12px auto;
    letter-spacing: 0rem;
    color: hsl(241, 100%, 89%);
}

p {
    color: hsl(241, 100%, 89%);
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

#great {
    font-weight: 500;
    color: #fff;
}

/* TEXT STYLES RIGHT */

#header3 {
    font-size: 1rem;
    padding-top: 2rem;
    padding-left: 2rem;
    color: hsl(224, 30%, 27%);
}

ul {
    display: grid;
    text-align: left;
    gap: 1rem;
    list-style-type: none;
}

li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: 0;
    padding-left: 0;

}

.label {
    display: flex;
    justify-content: flex-end;
    vertical-align: middle;
    align-items: center;
}

.total {
    display: flex;
    align-items: center;
    color: hsl(241, 100%, 89%);
    padding-right: 15px;
}

#bold {
    color: hsl(224, 30%, 27%)!important;
    font-weight: 800;
    padding-right: 0.5rem;
}

#reaction {
    color: hsl(0, 100%, 67%);
}

li:nth-of-type(1) {
    background-color: hsl(0, 100%, 98%);
    height: 50px;
    border-radius: 8px;
}

#memory {
    color: hsl(39, 100%, 56%);
}

li:nth-of-type(2) {
    background-color: hsl(39, 100%, 98%);
    height: 50px;
    border-radius: 8px;
}

#verbal {
    color: hsl(166, 100%, 37%);
}

li:nth-of-type(3) {
    background-color: hsl(166, 100%, 98%);
    height: 50px;
    border-radius: 8px;
}

#visual {
    color: hsl(234, 85%, 45%);
}

li:nth-of-type(4) {
    background-color: hsl(234, 85%, 98%);
    height: 50px;
    border-radius: 8px;
}

svg {
    margin: 10px;
}

#button {
    justify-content: center;
    width: 100%;
    border: none;
    border-radius: 25px;
    height: 3.25rem;
    background-color: hsl(224, 30%, 27%);
}

@media only screen and (min-width:768px) {

    #left {
        display: block;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin-bottom: 0;
        background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
        height: auto;
        z-index: 1;
        border-radius: 25px;
    }

    #right {
        display: block;
        justify-content: center;
        background-color: white;
        height: auto;
        box-shadow: 0px 0.5px 15px rgb(203, 206, 208);
        z-index: 0;
        border-top-right-radius: 24px;
        border-bottom-right-radius: 24px;
    }

    #header3 {
        font-size: 1rem;
        padding-top: 1rem;
        padding-left: 2rem;
        color: hsl(224, 30%, 27%);
    }

    .btn-primary {
        justify-content: center;
        width: 100%;
        border: none;
        border-radius: 25px;
        height: 3.25rem;
        background-color: hsl(224, 30%, 27%);
    }
    
    
}